body{
    background: cyan;
    align-content: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: 300;
    align-content: center;
    margin: auto;
}
#startBtn,#pauseBtn,#stopBtn{
      font-weight: 300;
      line-height: 30px;
      font-size: 30px;
      color:black;
      background-color: yellow;
      border-color: whitesmoke;
      border:whitesmoke;
      border-radius: 0.3rem;
      padding:0.35rem 0.8rem;
      cursor:pointer;
      }